# Large Raw Data & Local Databases
Data/Raw/
Data/Raw/**
Data/database/

# Power BI local settings, cache and temporary files
**/.pbi/
*.tmp
*.pbit
**/ms-pbi.cache*

# Python cache & environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# OS artifacts
Thumbs.db
desktop.ini
.DS_Store